.home{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F0E9D2;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 6.25rem;
    cursor: pointer;
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.625rem 1.3rem;
   
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #227C70;
}

.detel{
    margin-left: 8%;
    margin-top: 8%;
}

.detel h1{
    font-size: 3rem;
    color: #212121;
    margin-bottom: 3rem;
}

span{
    color: #227C70;
    
}

.detel p{
    color: #555;
    line-height: 1.375rem;
   
}

.detel a{
    background: #212121;
    padding: 0.6rem 1.1rem;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 1.875rem 0;
    border-radius: 0.3rem;
    
}

.images{
    width: 40%;
    height: 63%;
    position: absolute;
    bottom: 6.0625rem;
    right: 6.25rem;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}








.project {
    font-family:'Dosis', sans-serif ;
    background-color:#F0E9D2 ;
    padding: 2.5rem;
}


.robo1 {
    float: left;
    height: 10.625rem;

}
.robo2 {
    float: right;
    height: 10.62rem;
}
.robo3{
    float: left;
    height:  10.62rem;
}
.robo4{
    float: right;
    height:  10.62rem;

}
.project h2{
    text-align: center;
    font-size: 250%;
    
}










.competition{
    font-family:'Dosis', sans-serif ;
    background-color:#F0E9D2 ;
    padding: 2.5rem;
   
}
.competition h2{
    text-align: center;
    font-family:'Dosis', sans-serif ;
    font-size: 250%;

}
.robocom1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.con{
    font-family:'Dosis', sans-serif ;
    background-color:#F0E9D2 ;
    padding: 2.5rem;
   
}

.con h4{
    font-size: 300%;
}



*{margin: 0; padding: 0; box-sizing: border-box;}
.main{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
}
.icon{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    background: #fff;
    margin: 1.25rem;
    text-align: center;
    font-size: 50px;
    line-height: 6.25rem;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 0.3125rem 0.625rem 1.25rem rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}

.icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover{
    background: #0077B5;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background: #000;
}




@media only screen and (min-width: 20rem) and (max-width: 61.9375rem) {
    .main{
        flex-direction: column;
    }
}